<h1>Lands show controller</h1>

<p>Width: <%=@land.width %> </p>
<p>Height: <%=@land.height %> </p>

<%= link_to 'Editar', edit_land_path(@land) %> <br>
<%= link_to 'Borrar', @land, method: :delete %> <br>